header {
  width: 100%;
  background-color: #333333;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: calc(100vh - 163px);
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.container {
  max-width: 1020px;
  min-width: 325px;
}

.job-bloc {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1020px;
}

.job-box {
  margin: 20px 0px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  justify-content: space-between;
}

.color-red {
  border: solid 10px #e30413;
}

.color-green {
  border: solid 10px #3ea535;
}

.color-yellow {
  border: solid 10px #ffee00;
}

.color-blue {
  border: solid 10px#039FE3;
}

.color-pink {
  border: solid 10px #f8c5af;
}

footer {
  background-color: #dddddd;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-box {
  text-align: center;
  color: black;
  font-size: 14px;
}

.footer-box > a,
span {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-box > a:hover {
  color: #8b0d97;
}
@media (max-width: 650px) {
  .job-bloc {
    justify-content: center;
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
  }
}
